* {
    margin: 0;
    padding: 0;
}

.site {
    /* background: #917878; */
    /* color: #bebebe; */
    width: 900px;
    /* height: 600px; */
    margin: auto;
}
.header {
    width: 100%;
    height: 150px;
    background: #e6e4e4;

}
.content {
    width: 100%;
    height: 400px;
    background: #1515e9;

}
.footer {
    width: 100%;
    height: 200px;
    background: #e70909;

}