h1 {
    font-family: boycott;
    color: deepskyblue;
}

html, body {
    margin: 2;
    padding: 0;
    background: #44444d;
    color: #dfd6df;
    font-size: 18px;
}

table {
    border-top: 3px solid blueviolet;
    border-left: 3px solid blueviolet;
    border-radius: 10px;
    box-shadow: black 1px 1px 4px 1px;
}

td:hover {
    text-shadow: white 0px 0px 6px;
}

th:hover {
    text-shadow: red 0px 0px 6px;
}

td {
    text-align: center;
    user-select: none;
    cursor: pointer;
}

th {
    border-bottom: 1px solid rebeccapurple;
    border-radius: 5px;
}

.test {
    color: cyan;
    background: darkcyan;
    font-size: 48px;
    padding: 5px;
    text-align: center;
    text-shadow: black 1px 1px 6px;
    border-radius: 10px;
    /*border: 5px solid #024d4d;*/
    border-top: 5px solid #024d4d;
    border-left: 5px solid #024d4d;
    width: 200px;
    /*height: 200px;*/
    cursor: pointer;
    font-weight: bolder;
    margin: auto;
    font-family: monospace;
    user-select: none;
}

.test:active {
    border-top: 5px solid darkcyan;
    border-left: 5px solid darkcyan;
    /* text-shadow: black -3px -3px 6px; */
    /* padding: 4px;
    transform: translateY(-4px);
    width: 195px; */
}

.test:hover {
    text-shadow: black 3px 3px 6px;
}

a#ya {
    color: white;
    font-size: 24px;
    font-weight: 200;
    text-decoration: none;
    padding: 5px;
}

a#vk {
    color: #598ae6;
}

a#vk:hover {
    color: #76aadb;
}

span#ya_first-leter {
    color: red;
}

a#ya:hover {
    color: red;
}

.list_el:hover {
    color: white;
    font-size: 120%;
    cursor: pointer;
}

tr#header_table {
    border-bottom: 5px solid blueviolet;
}

ul#list_body {
    width: 200px;
}

span.hello_word:hover {
    font-size: 120%;
}

a {
    color: #bebebe;
    text-decoration: none;
}